<div class="game">
  <div class="timeline">
    <a class="timeline-button play-button easing">
      <i class="fas fa-play"></i>
    </a>
    <a class="timeline-button pause-button easing">
      <i class="fas fa-pause"></i>
    </a>
    <div class="time-input">
      <input type="text" placeholder="0:00"/>
      <p>of 4:20</p>
    </div>
    <div class="time-marker">
      <div class="time-tick easing"></div>
      <div class="time-line"></div>
    </div>
  </div>
  <!-- timeline -->
  <div class="player-data">
    <div class="player-select"></div>
  </div>
  <!-- player data -->
  <div class="map easing" [class.condensed]="this.condensed">
    <a class="expand-button easing" (click)="this.condensed = !this.condensed">
      <i class="fas fa-expand"></i>
    </a>
    <img src="/assets/maps/layout/Erangel.png" class="map"/>
  </div>
  <!-- map -->
  <div class="interaction-list easing" [class.condensed]="this.condensed">
    <div class="interaction-item interaction-header">
      <div class="interaction-column">
        <i class="fas fa-stopwatch"></i>
      </div>
      <div class="interaction-column">
        <i class="fas fa-exclamation"></i>
        Action
      </div>
      <div class="interaction-column">
        <i class="fas fa-user-injured"></i>
        Damage
      </div>
      <div class="interaction-column">
        <i class="far fa-clipboard"></i>
        Notes
      </div>
    </div>
  </div>
  <!-- interactions -->
</div>
