<div class="search-bar">
  <i class="fas fa-search search-icon"></i>
  <input type="text" placeholder="Search players by name or id"/>
  <a class="filter-button easing">
    <i class="fas fa-filter"></i>
  </a>
</div>

<div class="player-list">
  <div class="player">
    itsChrisCates
  </div>
  <div class="player">
    itsChrisCates
  </div>
  <div class="player">
    itsChrisCates
  </div>
  <div class="player">
    itsChrisCates
  </div>
  <div class="player">
    itsChrisCates
  </div>
  <div class="player">
    itsChrisCates
  </div>
</div>

<div class="action-list">
  <div class="map-tracker">
    <img src="/assets/miramar.map.jpg"/>
  </div>
  <div class="action-list-items">
    <div class="action-list-tabs">
      <a class="action-tab easing active">
        Actions
      </a>
      <a class="action-tab easing">
        Items
      </a>
      <a class="action-tab easing">
        Stats
      </a>
    </div>

    <div class="action-list-item">
      <div class="item-column">
          <p><i class="fas fa-clock"></i> 1:20</p>
        </div>
      <div class="item-column">
        <p>Picked up a SCAR-L</p>
      </div>
    </div>
    <!-- action list item -->
    <div class="action-list-item">
      <div class="item-column">
          <p><i class="fas fa-clock"></i> 2:40</p>
        </div>
      <div class="item-column">
        <p>Killed noob 123 with SCAR-L</p>
      </div>
    </div>
    <!-- action list item -->
    <div class="action-list-item">
      <div class="item-column">
          <p><i class="fas fa-clock"></i> 4:20</p>
        </div>
      <div class="item-column">
        <p>Killed another noob with SCAR-L</p>
      </div>
    </div>
    <!-- action list item -->
    <div class="action-list-item">
      <div class="item-column">
          <p><i class="fas fa-clock"></i> 4:20</p>
        </div>
      <div class="item-column">
        <p>Won game</p>
      </div>
    </div>
    <!-- action list item -->
  </div>

  <div class="timeline-marker">
    <div class="time-marker">
      0:00
    </div>
    <div class="marker-line">
      <div class="marker-track"></div>
    </div>
    <div class="time-marker">
      4:20
    </div>
  </div>

</div>
