<div class="search-bar">
  <i class="fas fa-search search-icon"></i>
  <input type="text" placeholder="Search players by name or id"/>
  <a class="filter-button easing">
    <i class="fas fa-filter"></i>
  </a>
</div>

<div class="result" *ngFor="let result of this.results;">
  <div class="result-rank">
    <img src="/assets/placeholder.rank.png" class="result-rank"/>
  </div>

  <div class="result-text">
    <div class="result-header">
      <div class="result-user">
        <h3>itsChrisCates</h3>
        <h4>100 Games</h4>
        <h4>1000000 Points</h4>
        <a class="bookmark-icon easing">
          <i class="far fa-bookmark"></i>
        </a>
      </div>

      <div class="result-chart">
        <ngx-chartjs [data]="this.data" [type]="'radar'" [width]="180" [height]="180" [options]="this.options"></ngx-chartjs>
      </div>

      <div class="result-stats">
        <div class="result-stat">
          <img src="/assets/parachute.icon.png"/>
          <p>In 5 of your games</p>
        </div>
        <div class="result-stat">
          <img src="/assets/gun.icon.png"/>
          <p>Killed you 5 times</p>
        </div>
        <div class="result-stat">
          <img src="/assets/target.icon.png"/>
          <p>You killed 5 times</p>
        </div>
      </div>

    </div>


    <div class="result-buttons">
      <a class="result-button easing">
        Compare Stats
      </a>
      <a class="result-button easing">
        View Profile
      </a>
    </div>
  </div>
</div>
