@import "../../_config.scss";

div.heading {
  width: 100%;
  height: 80px;
  background: $bg4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  div.heading-nav {
    display: flex;
    align-items: center;
    padding: 0 15px;
  }

  a.brand {
    display: flex;
    margin: 0 15px;
    img {
      height: 40px;
      margin: 0 15px 0 0;
    }
  }

  a.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background: $bg2;
    font-size: 14px;
    font-weight: bold;
    margin: 0 15px;
    &:hover {
      background: $bg3;
    }
    &.active {
      background: $fg3;
      color: white;
    }
    i {
      margin-top: 2.5px;
      margin-right: 5px;
    }
  }

  div.menu-items {
    display: flex;
    position: relative;
  }

  a.menu-button {
    margin: 0 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $bg2;
    color: $fg;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    &:hover {
      background: $fg3;
      color: white;
    }
  }
}
