<div class="stats">
  <div class="stats-item big">
    <p>Wins</p>
    <p>9001</p>
  </div>
  <div class="stats-item big">
    <p>Top 10</p>
    <p>9001</p>
  </div>
  <div class="stats-item">
    <p>Assists</p>
    <p>9001</p>
  </div>
  <div class="stats-item">
    <p>Best Rank</p>
    <p>9001 points (Unknown)</p>
  </div>
  <div class="stats-item">
    <p>Healed</p>
    <p>9001 times</p>
  </div>
  <div class="stats-item">
    <p>Boosted</p>
    <p>9001 times</p>
  </div>
  <div class="stats-item">
    <p>Knocks</p>
    <p>9001</p>
  </div>
  <div class="stats-item">
    <p>Damage Dealt</p>
    <p>9001</p>
  </div>
  <div class="stats-item">
    <p>Headshots</p>
    <p>9001</p>
  </div>
  <div class="stats-item">
    <p>Kills</p>
    <p>9001</p>
  </div>
  <div class="stats-item">
    <p>Longest Kill</p>
    <p>9001m</p>
  </div>
  <div class="stats-item">
    <p>Longest Survival</p>
    <p>9001 seconds</p>
  </div>
  <div class="stats-item">
    <p>Revives</p>
    <p>9001</p>
  </div>
  <div class="stats-item">
    <p>Drove</p>
    <p>9001m</p>
  </div>
  <div class="stats-item">
    <p>Road Kills</p>
    <p>9001</p>
  </div>
  <div class="stats-item">
    <p>Most Kills</p>
    <p>9001</p>
  </div>
  <div class="stats-item">
    <p>Rounds Played</p>
    <p>9001</p>
  </div>
  <div class="stats-item">
    <p>Suicides</p>
    <p>9001</p>
  </div>
  <div class="stats-item">
    <p>Swim Distance</p>
    <p>9001</p>
  </div>
  <div class="stats-item">
    <p>Team Kills</p>
    <p>9001</p>
  </div>
  <div class="stats-item">
    <p>Time Survived</p>
    <p>9001</p>
  </div>
  <div class="stats-item">
    <p>Vehicles Destroyed</p>
    <p>9001</p>
  </div>
  <div class="stats-item">
    <p>Walk Distance</p>
    <p>9001</p>
  </div>
  <div class="stats-item">
    <p>Weapons Acquired</p>
    <p>9001</p>
  </div>
</div>
